* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  position: relative;
  background: #f0f0f0;
  font-family: "roboto", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 2.5vw;
}

.toggle-btn {
  width: 20px;
  height: 10px;
  position: relative;
  cursor: pointer;
}

.toggle-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  background: #979797;
}

.toggle-btn span:nth-child(1) {
  top: 0;
}

.toggle-btn span:nth-child(3) {
  top: 100%;
}

.logo {
  height: 30px;
  margin: -10px 30px 0;
}

.search-box {
  position: relative;
  max-width: 500px;
  width: 50%;
  height: 35px;
  display: flex;
}

.search-bar {
  width: 85%;
  height: 100%;
  border: 2px solid #dbdbdb;
  padding: 0 20px;
  font-size: 16px;
  text-transform: capitalize;
}

.search-btn {
  width: 15%;
  height: 100%;
  background: #f0f0f0;
  border: 2px solid #dbdbdb;
  padding: 5px 0;
  border-left: none;
}

.search-btn img {
  height: 100%;
}

.user-options {
  height: 35px;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.user-options .icon {
  height: 80%;
  margin-right: 20px;
  cursor: pointer;
}

.user-dp {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.user-dp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width:422px){
    .logo{
        height: 25px;
        padding-top: 7px;
        margin-left: 4px;
    }
    .search-bar {
        display: none;
    }

    .search-btn{
        display: none;
    }
    .user-options{
        margin-top:-57px;
    }
}
@media screen and (max-width:768px){
    span{
        height: 45px;
        margin-right: 25px;
    }
    .logo{
        height: 37px;
        padding-top: 8px;
        margin-left: 15px;
    }
    .search-bar{
        width: 55%;
    }

    .user-options{
        
        margin-top:-7px;
        height: 35px;
    }
}

/* sidebar stylings by Dhruv Anand */

#body {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 230px;
  background-color: white;
  overflow-y: scroll;
  margin-top: 60px;
}

.sidebar-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sidebar-headings {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.sidebar-headings span {
  margin-left: 15px;
}

.fas,
.far {
  font-size: 1.5rem;

}
.sidebar-headings:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .show-sidebar {
    display: inline;
    position: fixed;
    height: auto;
  }
  .filters {
    display: flex;
    position: fixed;
    height: auto;
    margin-left: -230px;
    }
}

  
@media (max-width: 360px) {
  .sidebar {
    display: flex;
  }

  .show-sidebar {
    display: inline;
    position: fixed;
    height: auto;
  }
  .filters {
    display: flex;
    position: fixed;
    height: auto;
    margin-left: 0px;
    }
}

/* sidebar ends here */

/* filter option starts here */

.filters{
  position: fixed;
  left: 232px;
  top: 60px;
  width: 100%;
  height: 60px;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.filters::-webkit-scrollbar{
  display: none;
}

.filter-options{
  flex: 0 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  background: #f0f0f0;
  border: 1px solid #dbdbdb;
  text-transform: capitalize;
  margin-right: 10px;
  color: #242424;
  font-size: 15px;
  cursor: pointer;
}

.filter-options.active{
  color: #fff;
  background: #242424;
}
/* filter option ends here */

/* Video section starts here */
*, *::before, *::after {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
  gap: 2rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 4px solid #CCC;
}

.video-section:first-child {
  border-top: none;
}

.video-container {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  position: relative;
  display: flex;
}

.thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  background-color: rgba(0, 0, 0, .85);
  color: white;
  right: 5px;
  bottom: 5px;
  padding: .1em .3em;
  border-radius: .3em;
  font-size: .9rem;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
  background-color: #AAA;
}

.video-bottom-section {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.channel-icon {
  margin-right: .75rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #AAA;
}

.video-details {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: .5rem;
  text-decoration: none;
  color: black;
}

.video-channel-name {
  margin-bottom: .1rem;
  text-decoration: none;
  transition: color 150ms;
}

.video-channel-name:hover {
  color: #111;
}

.video-channel-name,
.video-metadata {
  color: #555;
}

.video-section-title {
  grid-column: 1 / -1;
  margin: -.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
}

.video-section-title-close {
  border: none;
  background: none;
  padding: 0;
  font-size: 2rem;
  color: #555;
  cursor: pointer;
}

.videos {
  background-color: #F9F9F9;
}

.categories {
  padding: 1rem 2rem;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.category-section {
  display: flex;
  overflow: hidden;
}

.category {
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #CCC;
  border-radius: 900px;
  background-color: #E7E7E7;
  padding: .5rem 1rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 150ms;
}

.category:hover {
  background-color: #DDD;
}

.category.active {
  background-color: #606060;
  color: white;
  border-color: #EEE;
}

.category:last-child {
  margin-right: 0;
}

/* Video section ends here */
